<md-content ng-controller="ActivityLogController as ALCtrl" class="md-padding" layout="row" layout-align="center center">
    {{ALCtrl.devices}}
    <c3chart bindto-id="chart3">
        <chart-column column-id="x" column-values="Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday" />
        <chart-column column-id="data1" column-name="Patient xyz" column-color="red" column-values="30,200,0,400,150,250,0" column-type="bar" />
        <chart-axes values-x="x" y="data1" />

        <chart-axis>
            <chart-axis-x axis-position="outer-center" axis-type="category">
                <chart-axis-x-tick tick-rotate="50" />
            </chart-axis-x>
            <chart-axis-y axis-id="y" axis-position="outer-right" axis-label="Activity" padding-top="100" padding-bottom="0" range-min="0" />
        </chart-axis>
    </c3char>
</md-content>
