<md-content class="md-padding" layout-margin>
	<form name="loginCtrl.loginForm">
		<div layout="column">
			<br>
	       	<label ng-show="loginCtrl.user.loginFailed" style="color:red;">Login failed.</label>

	        <div layout-gt-xs="row" layout-xs="column">
				<md-input-container flex="50">
					<label>e-mail</label>
					<input type="text" ng-model="loginCtrl.user.email" name="email" required>
					<div role="alert">
						<span class="error" ng-show="loginForm.email.$error.required">Required!</span>
					</div>
				</md-input-container>
				<md-input-container flex="20">
					<label>Password</label>
					<input type="password" ng-model="loginCtrl.user.password" name="uPassword" ng-minlength="3" ng-maxlength="10" required>
					<div role="alert">
						<span class="error" ng-show="loginForm.uPassword.$error.minlength">
		        Too short!</span>
						<span class="error" ng-show="loginForm.uPassword.$error.maxlength">
		        Too long!</span>
					</div>
				</md-input-container>

				<md-input-container flex>
					<md-button ng-click="loginCtrl.login()">Login</md-button>
				</md-input-container>
	        </div>
			<div layout-sm="row" layout-align="center">
				<label>No account yet?</label>
				<md-button ng-click="loginCtrl.showRegistrationPage()">Register</md-button>
			</div>
	  	</div>
	</form>
</md-content>