<md-content>
  	<form name="loginCtrl.registerForm">
        <div layout="column">
        	<label>Welcome to Juvo, please enter you personal data below to register a new account.</label>
        	<br>
        	<label ng-show="loginCtrl.user.registrationFailed" style="color:red;">Registration failed.</label>
        	<div layout="row" layout-align="center">
				<md-input-container flex="30">
					<label>Firstname</label>
					<input type="text" ng-model="loginCtrl.user.firstname" name="firstname" required>
					<div role="alert">
						<span class="error" ng-show="registerForm.firstname.$error.required">Required!</span>
					</div>
				</md-input-container>
				<md-input-container flex="30">
					<label>Lastname</label>
					<input type="text" ng-model="loginCtrl.user.lastname" name="lastname" required>
					<div role="alert">
						<span class="error" ng-show="registerForm.lastname.$error.required">Required!</span>
					</div>
				</md-input-container>
			</div>
			<div layout="row" layout-align="center">
				<md-input-container flex="60">
					<label>e-mail</label>
					<input type="text" ng-model="loginCtrl.user.email" name="email" required>
					<div role="alert">
						<span class="error" ng-show="registerForm.email.$error.required">Required!</span>
					</div>
				</md-input-container>
			</div>
			<div layout="row" layout-align="center">
				<md-input-container flex="60">
					<label>phone</label>
					<input type="text" ng-model="loginCtrl.user.phone" required>
				</md-input-container>
			</div>
			<div layout="row" layout-align="center">
				<md-input-container flex="60">
					<label>Password</label>
					<input type="password" ng-model="loginCtrl.user.password" name="uPassword" ng-minlength="3" ng-maxlength="10" required>
					<div role="alert">
						<span class="error" ng-show="loginForm.uPassword.$error.minlength">
		        Too short!</span>
						<span class="error" ng-show="loginForm.uPassword.$error.maxlength">
		        Too long!</span>
					</div>
				</md-input-container>
			</div>
			<div layout="row" layout-align="center">
				<md-input-container flex="60">
					<label>Password repeat</label>
					<input type="password" ng-model="loginCtrl.user.password_repeated" name="uPassword_repeat" ng-minlength="3" ng-maxlength="10" required>
					<div role="alert">
						<span class="error" ng-show="loginForm.uPassword_repeat.$error.minlength">
		        Too short!</span>
						<span class="error" ng-show="loginForm.uPassword_repeat.$error.maxlength">
		        Too long!</span>
					</div>
				</md-input-container>
			</div>
			<div layout="row" layout-align="center">
				<md-input-container flex="60">
					<md-button ng-click="loginCtrl.register()">Register</md-button>
				</md-input-container>
			</div>
        </div>
	</form>
</md-content>