<div layout-gt-md="row">
  <panel-widget flex title="Create users" template="views/admin/users.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Create devices" template="views/partials/activitylog.html" class="fixed-height-widget"></panel-widget>
</div>
