<div layout-fill ng-clock layout-align="center" layout="row">
  <md-grid-list layout-margin style="max-width: 900px; width: 100%"
        md-cols-xs="1" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="2"
        md-row-height="2:1"
        md-gutter="30px" md-gutter-gt-sm="7px" >
    <md-grid-tile md-rowspan="1" md-colspan="1" ng-repeat-start="item in bCtrl.deviceService.devices" ng-repeat-end>
    <md-card style="height: 90%; width:100%">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{item.name}}</span>
          <span class="md-subhead">Activation date: {{item.activation_date}}</span>
          <span class="md-subhead">ID: {{item.buid}}</span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-lg card-media">
             <img ng-src="assets/images/device.png" class="md-card-image" alt="image caption">
            </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>Remove</md-button>
        <md-button ng-click='bCtrl.setBracelet(item.buid)' ui-sref="home.dashboard">View</md-button>
      </md-card-actions>
    </md-card>
    </md-grid-tile>
  </md-grid-list >
</div>