<div layout-fill ng-clock ng-controller="DashboardController" layout-align="center center" layout="column" layout-fill style="width:100%">
  <div style="height:20px;" flex></div>
  <md-grid-list class="gridListDashboard" style="max-width:900px; width: 100%"
        md-cols-xs="1" md-cols-sm="3" md-cols-gt-sm="4"
        md-row-height="1:1"
        md-gutter="25px" md-gutter-gt-sm="15px" flex>
    <md-grid-tile class="tile" md-rowspan="1" md-colspan="2" md-rowspan-sm="1" md-colspan-sm="2" md-colspan-xs="1" md-rowspan-xs="1">
      <div class="body" layout="column" layout-align="space-around center" style="width: 100%">
          <md-input-container md-no-float class="md-block" style="margin-top:10px; width: 90%">
            <md-icon md-svg-src="assets/images/ic_person.svg" class="name"></md-icon>
            <input ng-model-options="{updateOn:'blur'}" ng-model="bracelet.name" type="text" placeholder="Name" update-on-enter>
          </md-input-container>
          <md-input-container md-no-float ng-model-options="{updateOn:'blur'}" class="md-block" style="width: 90%">
            <md-icon md-svg-src="assets/images/ic_phone.svg"></md-icon>
            <input update-on-enter ng-model-options="{updateOn:'blur'}" ng-model="bracelet.phone" type="text" placeholder="Phone Number">
          </md-input-container>
          <md-input-container md-no-float class="md-block" style="width: 90%">
            <md-icon md-svg-src="assets/images/ic_place.svg"></md-icon>
            <input update-on-enter ng-model-options="{updateOn:'blur'}" ng-model="bracelet.location" type="text" placeholder="Location">
          </md-input-container>
          <md-input-container md-no-float class="md-block" style="width: 90%">
            <md-icon md-svg-src="assets/images/ic_description.svg"></md-icon>
            <input update-on-enter ng-model-options="{updateOn:'blur'}" ng-model-options="{updateOn:'blur'}" ng-model="bracelet.description" type="text" placeholder="Description">
          </md-input-container>
      </div>
    </md-grid-tile>

    <md-grid-tile class="tile">
        <div class="body" layout="column" layout-padding layout-align="start stretch" style="width: 100%">
          <div style="font-size: 20px; width: 100%" flex="15" >Recent Alerts</div>
          <table flex="70" style="width: 100%">
            <tr ng-repeat-start="item in braceletLogs" ng-repeat-end>
              <td><img style="height:32px;" ng-src="{{item.type == 'fall' && 'assets/images/fall_icon.png' || 'assets/images/button_icon.png'}}"></td>
              <td style="font-size:10px">{{item.date}}</td>
              <td><img style="height:18px;" ng-src="assets/images/info_icon.png"></td>
            </tr>
          </table>
        </div>
      <div>
    </div>
    </md-grid-tile>

    <md-grid-tile class="tile" md-rowspan="2" md-colspan="2" md-rowspan-sm="2" md-colspan-sm="2" md-colspan-xs="1" md-rowspan-xs="1">
  	  <div class="body" layout="column" layout-padding layout-align="start stretch" style="width: 100%">
          <div style="font-size: 20px; width: 100%" flex="15" >Last weeks activity</div>
          <div ng-if="chartActive" data-ac-chart="'bar'" data-ac-data="activityData" data-ac-config="activityConfig" flex="70" style="width:90%";></div>

          <div layout-padding style="width: 100%" layout="row" layout-align="none center">
            <img style="height:64px; width: 64px;" ng-src="assets/images/checkmark.png">
            <span>Positive trend over last month</span>
          </div>
          <div layout="row" style="width: 100%" layout-align="space-around">
              <div>This month<br>26.3K</div>
              <div>Last month<br>25.7K</div>
              <div>Delta<br>600</div>
          </div>
    </div>
    </md-grid-tile>
    <md-grid-tile class="tile" md-rowspan="2">
        <div class="body" layout="column" layout-padding layout-align="start stretch" style="width: 100%">
          <div style="font-size: 20px; width: 100%" flex="15" >Device</div>
        	<div style="font-size: 15px; width: 100%" flex="15" >Battery: 45%</div>
        	<div ng-if="chartActive" data-ac-chart="'line'" data-ac-data="data" data-ac-config="config" flex="70" style="width:100%";></div>
        	<div style="font-size: 13px; width: 100%;" lauout-padding flex="20">Last update: 5 hours ago{{DashboardController.deviceService.currentDevice.last_active_date}}</div>
          <md-input-container style="margin-right: 10px;">
            <label>Checkin interval</label>
            <md-select ng-model="checkinIntervals">
              <md-option value="1">1 hour</md-option>
              <md-option value="2">2 hours</md-option>
              <md-option value="3">3 hours</md-option>
              <md-option value="4">5 hours</md-option>
              <md-option value="5">8 hours</md-option>
              <md-option value="6">12 hours</md-option>
              <md-option value="7">24 hours</md-option>
              <md-option value="8">2 days</md-option>
              <md-option value="9">4 days</md-option>
              <md-option value="10">1 week</md-option>
            </md-select>
          </md-input-container>
          <span style+"font-size:10px;">Learn more about choosing the right checkin interval <a href="">here</a></span>
  	  </div>
    </md-grid-tile>
  </md-grid-list>
</div>
