<!--<div ng-controller="homeController as homeCtrl">
</div>-->

<div layout="column" flex>
    <!--<div style="background:white; width: 100%; height: 100px;">
        <img style="height:60px; margin-left:30px; margin: 10px;" class="img" ng-src="assets/images/nulef.png">
    </div>-->
    <md-toolbar layout="row" layout-align="start center">
        <img style="height:40px; margin-left:30px; margin: 10px;" class="img" ng-src="assets/images/nulef_white.png">
        <div data-ng-if="mainCtrl.authenticated == false">
            <md-button ui-sref="home.sigin">Log in</md-button>
        </div>
        <div data-ng-if="mainCtrl.authenticated == true" layout="row" layout-fill>
            <!--<md-button ng-click="mainCtrl.toggleItemsList()" aria-label="Menu" flex="auto">
                <i class="material-icons">menu</i>
            </md-button>-->
            <md-button hide-xs class="toolbar-button" aria-label="Bracelets" flex="noshrink" ui-sref="home.bracelets">
                Bracelets
            </md-button>
            <md-button hide-xs class="toolbar-button" aria-label="Log" flex="noshrink" ui-sref="home.log">
                Log
            </md-button>
            <md-button hide-xs class="toolbar-button" aria-label="Help" flex="noshrink" ui-sref="home.help">
                Help
            </md-button>
            <div flex="grow"></div>
            <md-button hide-xs class="toolbar-button" aria-label="Notifications" flex="noshrink">
                <i class="material-icons">notifications</i>
                <span class="notifications-label">2</span>
            </md-button>
            <md-button hide-xs class="toolbar-button" aria-label="Settings" flex="noshrink">
                <i class="material-icons">settings</i>
            </md-button>
            <md-menu-bar flex="noshrink">
                <md-menu class="toolbar-button">
                    <md-button class="toolbar-button" ng-click="$mdOpenMenu()" aria-label="Open menu">
                        <img class="img-circle" ng-src="assets/images/feynman.jpg">
                        <label>
                            {{mainCtrl.userName}}
                        </label>
                        <i class="material-icons">keyboard_arrow_down</i>
                    </md-button>
                    <md-menu-content width=4>
                        <md-menu-item ng-repeat-start="item in mainCtrl.deviceService.devices" ng-repeat-end>
                            <md-button ng-click="$mdCloseMenu()" ui-sref="home.dashboard">ID: {{item.buid}}</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="$mdCloseMenu();mainCtrl.logout()" ui-sref="home.sigin">Log out</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
    </md-toolbar>

    <div layout="row">
        <!--<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2 md-sidenav-left">
            <md-button ng-repeat-start="item in mainCtrl.menuItems" layout="column" layout-align="center center" flex class="capitalize" ng-click="mainCtrl.selectItem(item)" ui-sref-active="md-warn" ui-sref="{{item.sref}}" ng-cloak>
                <div hide-sm hide-md class="md-tile-content">
                    <i class="material-icons md-36">{{item.icon}}</i>
                </div>
                <div class="md-tile-content">
                    {{item.name}}
                </div>
            </md-button>
            <md-divider ng-repeat-end></md-divider>
        </md-sidenav>-->

        <md-content flex class="md-padding page-content">
            <div ui-view></div>
        </md-content>
    </div>
</div>
