<!-- TODO: Add validations -->
<md-content class="md-padding" layout="row" layout-sm="column" layout-padding>
    <md-input-container flex="50">
        <label>Email</label>
        <input ng-model="profileCtrl.user.email" type="email">
    </md-input-container>
</md-content>
<md-content class="md-padding" layout-padding>
    <form name="userForm">
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>First Name</label>
                <input ng-model="profileCtrl.user.firstName">
            </md-input-container>
            <md-input-container flex>
                <label>Last Name</label>
                <input ng-model="profileCtrl.user.lastName">
            </md-input-container>
        </div>
        <md-input-container flex>
            <label>Address</label>
            <input ng-model="profileCtrl.user.address">
        </md-input-container>
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>City</label>
                <input ng-model="profileCtrl.user.city">
            </md-input-container>
            <md-input-container flex>
                <label>State</label>
                <input ng-model="user.state">
            </md-input-container>
            <md-input-container flex>
                <label>Postal Code</label>
                <input ng-model="profileCtrl.user.postalCode">
            </md-input-container>
        </div>
    </form>
</md-content>
